@import "variables";
@import "cardEscolaridade";
@import "oquefaco";
@import "hobs.scss";
@import "programacao";
@import "tecnologias-prog";
@import "card-escolaridade-back";
@import "design";
@import "tecnologias-design";
@import "page-contato";

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* max-width: 1440px */
}

body {
  background: rgb(51, 51, 51);
  background: linear-gradient(
    8deg,
    rgba(51, 51, 51, 1) 39%,
    rgba(5, 5, 5, 1) 100%
  );
  overflow-x: hidden;
}

// para telas desktop
@media (min-width: 1024px) {
  * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    /* max-width: 1440px */
  }
  
  body {
    background: rgb(51, 51, 51);
    background: linear-gradient(
      8deg,
      rgba(51, 51, 51, 1) 39%,
      rgba(5, 5, 5, 1) 100%
    );
    overflow-x: hidden;
  }
  .container-grid {
    @include grid;
  }

  .tree-rows {
    grid-template-rows: 319px 275px auto;
  }
  

  .two-rows {
    grid-template-rows: 480px auto;
  }

  .page-top {
    display: flex;
    justify-content: center;
    background: rgb(82, 82, 82);
    background: linear-gradient(
      135deg,
      rgba(82, 82, 82, 1) 45%,
      rgba(5, 5, 5, 1) 100%
    );
    background-image: url("../imagens/herotop.jpg");
    background-position: center;
    /* background-size: 1397px 795px; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 795px;
  }

  .hero {
    @include grid;
    grid-template-rows: 0.3fr;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 14;
    max-height: 795px;
  }

  .hero h1 {
    font-family: CaviarDreams;
    font-size: 27pt;
    color: #ffff;
    margin-top: 2rem;
    padding-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 14;
  }

  .hero h1 i {
    font-style: normal;
    padding-bottom: 20px;
    border-bottom: 2px solid $primarycolor;
  }
  /* frase de saudação */
  /* posição */

  .hero h2 {
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row-start: 2;
    height: 20px;
  }

  .hero .eu-sou {
    grid-column-start: 3;
    grid-column-end: 14;
    grid-row-start: 2;
    margin-top: 10%;
    display: flex;
    align-items: flex-start;
  }

  .hero h2 {
    font-size: 62pt;
    color: $whitecolor;
    font-family: attentic;
    letter-spacing: 5pt;
    font-weight: lighter;
  }

  .hero h2 i {
    font-style: normal;
    color: $primarycolor;
  }

  .dynamic-txts li {
    font-family: nameSmille;
    list-style: none;
    color: $primarycolor;
    font-size: 42pt;
    position: relative;
    top: 0;
    animation: slide 15s steps(3) infinite;
  }

  .dynamic-txts {
    margin-left: 15px;
    height: 70px;
    line-height: 90px;
    overflow: hidden;
    animation: typing 5s steps(24) infinite;
    border-right: 2px solid $primarycolor;
  }

  .page-infos {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .page-infos {
    background: rgb(41, 41, 41);
    background: linear-gradient(
      7deg,
      rgba(41, 41, 41, 1) 19%,
      rgba(7, 7, 7, 1) 100%
    );
    height: 638px;
    width: 100%;
  }

  .story-photo {
    @include grid-start;
    height: 590px;
  }

  .story-photo .abertura,
  .fechamento {
    @include tags-fundo;
    margin-top: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .aberturastyle {
    @include tags-fundo;
    margin-top: 30px;
  }

  .fechamentostyle {
    @include tags-fundo;
    grid-row-start: 2;
  }

  .story-photo .aspas, .aspas2 {
    font-family: gillSans;
    font-size: 59pt;
    color: $secundarycolor;
  }
  

  .citacao {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: gillSans;
    margin-top: -55px;
    font-size: 14pt;
    color: $whitecolor;
  }

  .story-photo h4 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 10px;
    font-size: 24pt;
    color: $greycolor;
    font-family: attentic;
  }

  .fechamento {
    margin-top: -70px;
    grid-column-start: 4;
  }

  .foto {
    grid-column-start: 5;
    grid-column-end: 9;
    height: 380px;
    margin-top: -250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circulo {
    border: 3px solid $primarycolor;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-image: url("../imagens/foto-principal.jpg");
    background-position: center;
    background-size: cover;
  }

  .foto-principal {
    border: 3px solid $primarycolor;
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }

  .sobre-eu {
    grid-column-start: 10;
    grid-column-end: 13;
    margin-top: -350px;
    width: auto;
  }

  .sobre-eu b {
    font-size: 42pt;
    font-family: gillSans;
    color: $primarycolor;
    font-weight: 450;
  }

  .sobre-eu p {
    color: $whitecolor;
    text-align: left;
    font-size: 12pt;
    font-family: caviarDreams;
  }

  .transicao {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    margin: 0;

    img{
      max-width: 96px;
      max-height: 99px;
    }
  }

  .transicao ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0;
  }

  //escolaridade
  .page-schools {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .page-schools {
    margin-top: 0px;
    height: 638px;
    width: 100%;
    background: rgb(51, 51, 51);
    background: linear-gradient(
      180deg,
      rgba(51, 51, 51, 1) 42%,
      rgba(75, 74, 74, 1) 100%
    );
  }

  .container-grid .fechamentostyle {
    margin-top: 50px;
  }

  .fundo-topo {
    margin-top: 60px;
  }

  .fundo-topo h2 {
    @include area-titles;
  }

  //final da escolaridade
}

// para tela de tablet
@media (min-width: 768px) and (max-width: 1023px) {
  * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    /* max-width: 1440px */
  }
  
  body {
    background: rgb(51, 51, 51);
    background: linear-gradient(
      8deg,
      rgba(51, 51, 51, 1) 39%,
      rgba(5, 5, 5, 1) 100%
    );
    overflow-x: hidden;
    max-width: 100vw;
  }
  // Estilos para telas médias
  .container-grid {
    @include grid6c;
  }

  .tree-rows {
    grid-template-rows: 319px 275px auto;
  }

  .two-rows {
    grid-template-rows: 480px auto;
  }

  .page-top {
    display: flex;
    justify-content: center;
    background: rgb(82, 82, 82);
    background: linear-gradient(
      135deg,
      rgba(82, 82, 82, 1) 45%,
      rgba(5, 5, 5, 1) 100%
    );
    background-image: url("../imagens/herotop.jpg");
    background-position: center;

    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 795px;
  }

  .hero {
    @include grid6c;
    grid-column-start: 1;
    grid-column-end: 7;
    max-height: 795px;
  }

  .hero h1 {
    font-family: CaviarDreams;
    font-size: 16pt;
    color: #ffff;
    margin-top: 2rem;
    padding-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .hero h1 i {
    font-style: normal;
    padding-bottom: 20px;
    border-bottom: 2px solid $primarycolor;
  }
  /* frase de saudação */
  /* posição */

  .hero h2 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    height: 20px;
  }

  .hero .eu-sou {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    margin-top: 10%;
    display: flex;
    align-items: flex-start;
  }

  .hero h2 {
    font-size: 31pt;
    color: $whitecolor;
    font-family: attentic;
    letter-spacing: 1.5pt;
    font-weight: lighter;
  }

  .hero h2 i {
    font-style: normal;
    color: $primarycolor;
  }

  .dynamic-txts li {
    font-family: nameSmille;
    list-style: none;
    color: $primarycolor;
    font-size: 21pt;
    position: relative;
    top: 0;
    animation: slide6c 15s steps(3) infinite;
  }

  .dynamic-txts {
    padding-left: 15px;
    margin-left: 0px;
    height: 35px;
    line-height: 45px;
    overflow: hidden;
    animation: typing6c 5s steps(24) infinite;
    border-right: 2px solid $primarycolor;
  }

  .page-infos {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .page-infos {
    background: rgb(41, 41, 41);
    background: linear-gradient(
      7deg,
      rgba(41, 41, 41, 1) 19%,
      rgba(7, 7, 7, 1) 100%
    );
    height: 638px;
    width: 100%;
  }

  .story-photo {
    @include grid-start6c;
    height: 500px;
    margin-top: 3rem;
  }

  .story-photo .abertura,
  .fechamento {
    @include tags-fundo;
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .aberturastyle {
    @include tags-fundo;
    margin-top: 15px;
  }

  .fechamentostyle {
    @include tags-fundo;
    grid-row-start: 2;
  }

  .story-photo .aspas, .aspas2 {
    font-family: gillSans;
    font-size: 30pt;
    color: $secundarycolor;
  }

  
  .citacao {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: gillSans;
    margin-top: 0px;
    font-size: 12pt;
    color: $whitecolor;
    font-weight: 100;
  }

  .story-photo h4 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 10px;
    font-size: 20pt;
    color: $greycolor;
    font-family: attentic;
  }

  .fechamento {
    margin-top: -35px;
    grid-column-start: 2;
  }

  .foto {
    grid-column-start: 3;
    grid-column-end: 5;
    height: 170px;
    margin-top: -250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circulo {
    border: 3px solid $primarycolor;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-image: url("../imagens/foto-principal.jpg");
    background-position: center;
    background-size: cover;
  }

  .foto-principal {
    border: 3px solid $primarycolor;
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }

  .sobre-eu {
    grid-column-start: 5;
    grid-column-end: 7;
    margin-top: -350px;
    width: auto;
  }

  .sobre-eu b {
    font-size: 11pt;
    font-family: gillSans;
    color: $primarycolor;
    font-weight: 225;
  }

  .sobre-eu p {
    color: $whitecolor;
    text-align: left;
    font-size: 8pt;
    font-family: caviarDreams;
  }

  .transicao {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    top: 5ch;

    img{
      max-width: 65px;
      max-height: 69px;
    }
  }

  .transicao ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0;
  }
  .transicao li {
    width: 65px;
    height: 65px;
  }

  svg > image {
    width: 65px;
    height: 65px;
  }

  //escolaridade
  .page-schools {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .page-schools {
    margin-top: 0px;
    height: 638px;
    width: 100%;
    background: rgb(51, 51, 51);
    background: linear-gradient(
      180deg,
      rgba(51, 51, 51, 1) 42%,
      rgba(75, 74, 74, 1) 100%
    );
  }

  .container-grid .fechamentostyle {
    grid-row-start: 3;
    margin-top: 20px;
  }

  .fundo-topo {
    margin-top: 6ch;
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .fundo-topo h2 {
    @include area-titles;
  }
}

// para tela de mobile
@media (min-width: 100px) and (max-width: 767px) {
  * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    /* max-width: 1440px */
  }
  
  body {
    background: rgb(51, 51, 51);
    background: linear-gradient(
      8deg,
      rgba(51, 51, 51, 1) 39%,
      rgba(5, 5, 5, 1) 100%
    );
    overflow-x: hidden;
  }
  // Estilos para telas médias
  .container-grid {
    @include grid4c;
  }

  .tree-rows {
    grid-template-rows: 1200px;
    grid-template-rows: 319px 275px auto;
  }

  .two-rows {
    grid-template-rows: 480px auto;
  }

  .page-top {
    display: flex;
    justify-content: center;
    background: rgb(82, 82, 82);
    background: linear-gradient(
      135deg,
      rgba(82, 82, 82, 1) 45%,
      rgba(5, 5, 5, 1) 100%
    );
    background-image: url("../imagens/herotop.jpg");
    background-position: center;

    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 595px;
  }

  .hero {
    @include grid4c;
    grid-column-start: 1;
    grid-column-end: 5;
    max-height: 595px;
  }

  .hero h1 {
    font-family: CaviarDreams;
    font-size: 16pt;
    color: #ffff;
    margin-top: 2rem;
    padding-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .hero h1 i {
    font-style: normal;
    padding-bottom: 20px;
    border-bottom: 2px solid $primarycolor;
  }
  /* frase de saudação */
  /* posição */

  .hero h2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    height: 20px;
  }

  .hero .eu-sou {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    margin-top: 15%;
    display: flex;
    align-items: flex-start;
    margin-left: -0.5rem;
  }

  .hero h2 {
    font-size: 16pt;
    color: $whitecolor;
    font-family: attentic;
    letter-spacing: 1.5pt;
    font-weight: lighter;
  }

  .hero h2 i {
    font-style: normal;
    color: $primarycolor;
  }

  .dynamic-txts li {
    font-family: nameSmille;
    list-style: none;
    color: $primarycolor;
    font-size: 9pt;
    position: relative;
    top: 0;
    animation: slide4c 15s steps(3) infinite;
    margin-top: -0.1rem;
  }

  .dynamic-txts {
    padding-left: 15px;
    margin-left: 0px;
    height: 1.5rem;
    line-height: 35px;
    overflow: hidden;
    animation: typing4c 5s steps(24) infinite;
    border-right: 2px solid $primarycolor;
    padding-left: 0.6rem;
  }

  /* pagina de informações  */

  .page-infos {
    display: flex;
    justify-content: center;
    width: 100vw;
    background: rgb(41, 41, 41);
    background: linear-gradient(
      7deg,
      rgba(41, 41, 41, 1) 19%,
      rgba(7, 7, 7, 1) 100%
    );
    height: 1200px;
    width: 100%;
  }

  .story-photo {
    @include grid-start4c;
    height: 1185px;

    justify-self: center;
  }

  .story-photo {
    @include tags-fundo4c;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
  }

  .abertura {
    @include tags-fundo4c;
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .story-photo .aspas {
    font-family: gillSans;
    font-size: 22pt;
    color: $secundarycolor;
  }

  .aspas2 {
    grid-column-start: 2;
    font-family: gillSans;
    font-size: 22pt;
    color: $secundarycolor;
    padding: 5px;
  }

  .citacao {
    grid-column-start: 1;
    grid-column-end: 5;
    font-family: gillSans;
    font-size: 12pt;
    color: $whitecolor;
    font-weight: 100;
  }

  .story-photo h4 {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 10px;
    font-size: 20pt;
    color: $greycolor;
    font-family: attentic;
  }

  .fechamento {
    padding-bottom: 30px;
    padding-top: 0;
    grid-column-start: 2;
  }

  .foto {
    grid-column-start: 1;
    grid-column-end: 5;
    height: 22ch ;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circulo {
    border: 3px solid $primarycolor;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-image: url("../imagens/foto-principal.jpg");
    background-position: center;
    background-size: cover;
    grid-row-start: 2;
  }

  .foto-principal {
    border: 3px solid $primarycolor;
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }

  .sobre-eu {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 0;
    width: auto;
  }

  .sobre-eu b {
    font-size: 16pt;
    font-family: gillSans;
    color: $primarycolor;
    font-weight: 225;
  }

  .sobre-eu p {
    color: $whitecolor;
    text-align: left;
    font-size: 12pt;
    font-family: caviarDreams;
  }

  .transicao {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    margin: 0;

    img{
      width: 32.5px;
      height: 32.5px;
    }
  }

  .transicao ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0;
  }
  .transicao li {
    width: 32.5px;
    height: 32.5px;
  }

  svg > image {
    width: 32.5px;
    height: 32.5px;
  }

  //escolaridade
  .aberturastyle {
    @include tags-fundo4c;
    margin-top: 15px;
  }

  .fechamentostyle {
    @include tags-fundo4c;
  }

  .page-schools {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .page-schools {
    margin-top: 0px;
    height: 1500px;

    width: 100%;
    background: rgb(51, 51, 51);
    background: linear-gradient(
      180deg,
      rgba(51, 51, 51, 1) 42%,
      rgba(75, 74, 74, 1) 100%
    );
  }
  .page-schools .two-rows {
    grid-template-rows: 10% auto;
  }

  .container-grid .fechamentostyle {
    margin-top: 50px;
  }

  .fundo-topo {
    margin-top: 60px;
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .fundo-topo h2 {
    @include area-titles4c;
  }
}
